@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');



  #itineraryForm {
    margin-top: 2vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    background-color: rgb(208, 203, 203);
  }

  .intro-section {
    width: 100vw;
    height: 90vh; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .intro-section-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50vw;
    height: 90vh;
  }

  .intro-section-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    box-shadow: 
    6px 0 15px -5px #F54B41,
    12px 0 15px -5px #2585BE,
    2px 0 15px -5px #F9DBC1;
  }
  

  .intro-section-right  {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .cuisine-section {
    width: 100vw;
    height: 90vh; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end;
    margin-top: 1vh;
    margin-bottom: 1vh;
   
  }

  .cuisine-section-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 50vw;
    height: 90vh;
  }

  .cuisine-section-right {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end;

  }

  .cuisine-section-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 
    12px 0 15px 5px #2585BE,
    2px 0 15px 5px #F9DBC1;
  }

  

  .attraction-section {
    width: 100vw;
    height: 90vh; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .attraction-section-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50vw;
    height: 90vh;
  }

  .attraction-section-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 
    6px 0 15px -5px #F54B41,
    12px 0 15px -5px #2585BE,
    2px 0 15px -5px #F9DBC1;
  }

  .attraction-section-right {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  
  
  